<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jx3ScreenSaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Jx3ScreenSaver.Properties.Settings>
            <setting name="ClosingTime" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="CreateInterval" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="BackgroundOpacity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ForegroundOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxInstanceCount" serializeAs="String">
                <value>50</value>
            </setting>
        </Jx3ScreenSaver.Properties.Settings>
    </userSettings>
</configuration>